<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="WebGameYJF" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.1.175.170;initial catalog=WebGame;persist security info=True;user id=sa;password=266vkaxi;max pool size=512;Connect Timeout=5;asynchronous processing=True;application name=WebGameYJF-ACCESS;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="WebGameYJFR1" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.1.175.170;initial catalog=WebGame;persist security info=True;user id=sa;password=266vkaxi;max pool size=512;Connect Timeout=5;asynchronous processing=True;application name=WebGameYJF-Read;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ErrorToDB"/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="CJLSoftNormalCacheTime" value="1440" />
    <add key="CJLSoftNormalCookieTime" value="1440" />
    <add key="CJLSoftWithdrawTime" value="6" />
    <add key="CJLSoftDEKey" value="3A23E4061AA3078A7F1115D1D312B5E7" />
    <add key="CJLSoftUIDEKey" value="3A23E4061AA3078A7F1115D1D312B5E7" />
    <add key="MemoryCache" value="false" />
    <add key="ControllerName" value="UI2"/>

  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
