* { font-family:Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;}
#system-header { height: 71px; background:#e3e3e3; background:#e4e9ec; background:#fff; background:#EFEFEF;background:#f6f6f6; background:#fff; }
#system-header h1 { color:#bc1616; line-height:71px; font-size:18px; float:left; font-weight:bold; padding-left:10px; color:#00759F; color:#505050;}
.ui-header { }
.ui-header-logo { width:200px; height:71px; float:left; background:url(/Images/Default/UI/top_logo.png) no-repeat; }
#system-left { width: 220px; padding-left:2px; background:#fff; background:none; background:#EFEFEF; background:#f6f6f6; background:#fff; }
#system-left ul span { font-size:13px; }
#system-left ul li a { text-decoration:none; color:#00759F; color:#505050; font-size:12px; background:none;}
#navigation { width: 180px; }
#navigation a { color: blue; font-size: 14px; }
#show-content { padding:5px; }
#system-bottom { height: 18px; line-height: 18px; background:#e3e3e3; background:#e4e9ec; background:#fff; background:#EFEFEF; }
#system-header .right_info { display:inline-block; float:right; height:71px; line-height:71px; padding-right:10px; overflow:hidden; }
#system-header .right_info .user_group { font-weight:bold;}
#system-header .right_info .user_account { padding:0 3px; }
#system-header .right_info a { color:#555; padding:0 5px; text-decoration:none;}
#system-header .right_info a:hover { text-decoration:underline;}

.right_info a span {
    background: url("/Images/Default/UI/top_menu.png") no-repeat scroll 20px 4px rgba(0, 0, 0, 0);
    display: block;
    height: 71px;
    width: 77px;
}

.right_info a 
{
      display: block;
    float: right;
    height: 71px;
    margin-right: 13px;
    width: 77px;
}

.right_info a.account_autosave span { background-position: -68px 4px;}
.right_info a.history_playlist span { background-position: -155px 4px;}
.right_info a.users_list span { background-position: -244px 4px;}
.right_info a.report_list span { background-position: -331px 4px;}
.right_info a.users_info span { background-position: -419px 4px;}
.right_info a.help_general span { background-position: -507px 4px;}
.right_info a.csonline_addnew span { background-position: -595px 4px;}

.right_info a:hover { background:url(/Images/Default/UI/top_menu_select.png) no-repeat left 7px top 0; }

/*重写TABS*/
/*
#system-body-content .tabs-header { border:none; padding:0;}
*/
#system-left .layout-split-west { border-right:5px solid #e4e9ec;}

.panel-title span { display:block; float:right; padding-right:30px;}
.panel-title span a { color:red; }
.user_info_block { margin:0 auto; width:190px; margin-top:3px; padding:2px; line-height:200%; margin-bottom:5px; }
.user_info_block p { font-size:14px; }
p.p_l_btn { padding:3px 0; }
p span.nickname { color:#888; padding:0 2px; }
#ag_money { cursor:pointer;}

#system-left .game_item_link { font-size:14px; float:left; display:block; width:195px; padding-left:15px; border-bottom:1px solid #fafafa; height:20px; line-height:20px; }
#system-left .game_item a:hover { color:#096eaa; font-weight:bold;}
#system-left .panel-title { font-size:14px;}

.f_number{ color:red; padding:0 2px;}
.fc_red { color:red; }
.fc_blue { color:blue;}
.fc_green { color:green; }